{% extends "base.html" %}

{% block title %} Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="py-4">
      <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
          <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
              <li class="breadcrumb-item">
                  <a href="#">
                      <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                  </a>
              </li>
              <li class="breadcrumb-item"><a href="#">Tables</a></li>
              <li class="breadcrumb-item active" aria-current="page">Products</li>
          </ol>
      </nav>
      <div class="d-flex justify-content-between w-100 flex-wrap">
          <div class="mb-3 mb-lg-0">
              <h1 class="h4">Product list</h1>
          </div>
         
      </div>
  </div>
  <div class="card border-0 shadow">
      <div class="card-body">
        <div class="table-responsive" style="overflow-y: auto;">
              <table class="table table-centered table-nowrap mb-0 rounded">
                  <thead class="thead-light">
                      <tr>
                        <tr>
                            <th class="border-0"></th>
                            <th class="border-0">Product Title</th>
                            <th class="border-0">Category</th>
                            <th class="border-0">ProductType</th>
                            <th class="border-0">Colour</th>
                            <th class="border-0">Price</th>
                        </tr>
                      </tr>
                  </thead>
                  <tbody>
                      <!-- Item -->
                      <tr>
                        {% for product in page_obj %}
                          <td class="border-0">                                             
                              <a href="#" class="d-flex align-items-center">
                                <img class="img-fluid rounded" src="{{ product.imageURL }}" alt="{{ product.ProductTitle }}" style="max-width: 100px; height: auto;">
                              </a>
                          </td>
                          <td class="border-0 fw-bold">{{product.ProductTitle}}</td>
                          <td class="border-0 fw-bold">{{product.category}}</td>
                          <td class="border-0 fw-bold">{{product.ProductType}}</td>
                          <td class="border-0 fw-bold">{{product.Colour}}</td>
                          <td class="border-0 fw-bold">{{product.price}}</td>
                      </tr>
                      <!-- End of Item -->
                      {% endfor %}
                  </tbody>
              </table>
          </div>
 <!-- Pagination Navigation -->
 <div class="pagination">
    {% if page_obj.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
        <br>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}
</div>
      </div>
  </div>
<style>
    .pagination a {
    margin: 0 5px;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid #ddd;
}

.pagination span {
    margin: 0 5px;
    padding: 5px 10px;
    font-weight: bold;
}
</style>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
