{% extends "base.html" %} {% load static %} {% block title %} Index {% endblock %}

{% block content %}

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
  <!-- Push down content on small screens -->
  <div class="w3-hide-large" style="margin-top:83px"></div>
  
  <!-- Top header -->
  <header class="w3-container w3-xlarge">
    <p class="w3-right">
      <a href="{% url 'view_cart' %}"><i class="fa fa-shopping-cart w3-margin-right"></i></i></a>
      <i class="fa fa-search"></i>
    </p>
  </header>
 
  <!-- Image header -->
  <div class="w3-display-container w3-container">
    {% if request.resolver_match.url_name == 'women' %}
  <img src="{% static 'assets/img/new-collection.jpg' %}" alt="Composite Image">
{% elif request.resolver_match.url_name == 'men' %}
  <img src="{% static 'assets/img/men.jpg' %}" alt="Material Image">
{% elif request.resolver_match.url_name == 'kids' %}
  <img src="{% static 'assets/img/kids.jpg' %}" alt="Footprint Image">
{% elif request.resolver_match.url_name == 'product' %}
  <img src="{% static 'assets/img/cat.jpg' %}" alt="Footprint Image">
{% else %}
  <img src="{% static 'assets/img//shoes-2.jpg' %}" alt="Default Image" style="width:100%">
{% endif %}
    <div class="w3-display-topleft w3-text-white" style="padding:24px 48px">
      <h1 class="w3-jumbo w3-hide-small">New arrivals</h1>
      <h1 class="w3-hide-large w3-hide-medium">New arrivals</h1>
      <h1 class="w3-hide-small">COLLECTION 2025</h1>
      <p><a href="#jeans" class="w3-button w3-black w3-padding-large w3-large">SHOP NOW</a></p>
    </div>
  </div>
  <div class="w3-container w3-text-grey" id="jeans">
    <p></p>
  </div>
 
</div>
  <!-- Product grid -->
  
  {% for product in page_obj %}
 <div>
    <div class="w3-col l3 s6">
        {% if product.stock == 0 %}
      <div class="w3-container">
        <div class="w3-display-container">
          <img src="{{ product.imageURL }}" style="filter: grayscale(100%); opacity: 0.7;">
        </div>
        <p>{{product.ProductTitle}}<br></p>
      </div>
      {% else %}
      <div class="w3-container">
        <div class="w3-display-container">
          <img src="{{ product.imageURL }}" style="width:100%">
          <div class="w3-display-middle w3-display-hover">
            <a href="{% url 'add_to_cart' product.ProductId %}" class="w3-button w3-black">
                Add to Cart <i class="fa fa-shopping-cart"></i>
            </a>
          </div>
        </div>
        <p>{{product.ProductTitle}}<br><b>{{product.price}}</b></p>
      </div>
      {% endif %}
    </div>
  </div>
      {% endfor %} 
  </div>
  <!-- Footer -->
  <footer>
    <div class="w3-row-padding">
        <div class="pagination">
            {% if page_obj.has_previous %}
                <a href="?page=1">First</a>
                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}
        
            <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
        
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
                <br>
                <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}
        </div>

    

    </div>
  </footer>


  <!-- End page content -->
</div>

<style>

.out-of-stock img {
    filter: grayscale(100%);
    opacity: 0.7; /* Optional: Reduce opacity */
}


.w3-sidebar a {font-family: "Roboto", sans-serif}
body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Montserrat", sans-serif;}

    .pagination a {
    margin: 0 5px;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid #ddd;
}

.pagination span {
    margin: 0 5px;
    padding: 5px 10px;
    font-weight: bold;
}
</style>

<script>
// Accordion 
function myAccFunc() {
  var x = document.getElementById("demoAcc");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}

// Click on the "Jeans" link on page load to open the accordion for demo purposes
document.getElementById("myBtn").click();


// Open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}
</script>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}